@import '../Globals.scss';

.Service {
  padding: 40px 240px 80px;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }

  .Service_body {
    display: flex;
    justify-content: space-between;

    .Left_side {
      display: flex;
      flex-direction: column;
      gap: 60px;
      max-width: 50%;
    }
  }
}
