@import "../Globals.scss";
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

.HeroSection {
  padding: 40px 240px 80px;
  background: $primary__color;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }

  img {
    width: 700px;
    height: auto;
    position: absolute;
    bottom: 160px;
    right: 120px;
  }

  .hero__heading {
    color: $white__color;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 47px;

    .Cookie {
      font-family: "Cookie", cursive;
      font-size: 60px;
    }
  }

  .search__wrapper {
    .search__btn {
      padding: 20px 30px;
      background: linear-gradient(90deg, #2263a5 0%, #83deff 100%);
      border-radius: 0px 12px 12px 0px;
      border: none;
      color: $white__color;
      font-size: 18px;
    }

    .search__input {
      padding: 20px 30px;
      min-width: 25vw;
      border: none;
    }
  }
}
