$black__secondary__color: #32393f;
$white__color: #ffffff;
$gray__color: rgba(0, 0, 0, 0.5);
$light__gray__color: rgb(151, 151, 151);
$primary__color: #2163a5;
$light__primary__color: #b1d8ff;
$secondary__color: #84dfff;
$green__color: #7ce577;

.HomeBody {
  padding: 0 240px 80px;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }

  .Ideas {
    display: flex;
    gap: 40px;

    .Idea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }

  .numberOf__results {
    margin-top: 20px;
  }

  .gig__collection {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    .gig {
      background-color: $white__color;

      .header__box {
        overflow: hidden;
        background-image: url("../../assets/home/woman.jpg");
        background-position: center;
        background-size: cover;
        height: 185px;
        width: 275px;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        img {
          width: 30px;
          height: auto;
        }
      }
      .middle__box {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .userInfo {
          display: flex;
          gap: 10px;
          align-items: center;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
          .textBox {
            .fullName {
              font-weight: bold;
            }
            .rank {
              color: $light__gray__color;
            }
          }
        }
        .stars {
          display: flex;
          align-items: center;
          p {
            margin-left: 4px;
            color: #f7b24a;
            font-size: 24px;
            font-weight: bold;
          }
          .gray {
            color: $light__gray__color;
          }
          img {
            width: 24px;
          }
        }
      }
    }
  }
}
