$black__secondary__color: #32393f;
$white__color: #ffffff;
$gray__color: rgba(0, 0, 0, 0.5);
$light__gray__color: rgb(151, 151, 151);
$primary__color: #2163a5;
$light__primary__color: #b1d8ff;
$secondary__color: #84dfff;
$green__color: #7ce577;

.SearchCoaches {
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  h1 {
    font-size: 32px;
    line-height: 46px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    color: $light__gray__color;
    margin-bottom: 10px;
  }

  .filter__box {
    padding: 20px 40px;
    background-color: $white__color;
    border: none;
    display: flex;
    gap: 80px;
    border-radius: 20px;

    input,
    select {
      padding: 20px;
      border: none;
    }

    .search__filter,
    .price__filter,
    .countries__filter,
    .time__filter {
      label {
        color: $light__gray__color;
      }
      display: flex;
      flex-direction: column;
    }
  }
}
