@import "../Globals.scss";

.Chat {
  .contact__name__info {
    display: flex;
    flex-direction: row;
    width: 100%;

    .localTime {
      margin-left: 10px;
    }

    .localTime, .lastSeen {
      font-size: 14px;
      span {
        color: $primary__color;
        font-weight: 500;
        font-style: italic;
      }
    }
  }

  padding: 0px;
  display: flex;
  overflow-x: hidden;
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c5c5c5;
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
  }

  .left__sidebar {
    width: 20%;
    background-color: $white__color;

    .headOf__sidebar {
      max-height: 70px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      background-color: $primary__color;
      color: $white__color;
      font-weight: bold;
      font-size: 40px;

      .profile__photo {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }

      .right__options {
        display: flex;
        gap: 15px;

        .search__for__users {
          border: 1px solid #f2f2f2;
          border-radius: 4px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 5px;
          outline: none;
          transition: .4s;
        }

        .search__for__users:focus {
          box-shadow: $secondary__color 0px 2px 8px;
        }
      }
    }

    .mainOf__sidebar {
      display: flex;
      flex-direction: column;
      height: 70vh;
      overflow-y: scroll;

      .chat__overview {
        display: flex;
        padding: 5px 10px;
        justify-content: space-between;
        border-bottom: 1px solid $gray__secondary__color;
        align-items: center;

        .profile__photo {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }

        .textBox {
          // near to profile photo
          margin-left: -50px;
          display: flex;
          flex-direction: column;

          .contactName {
            font-weight: bold;
          }
        }
        .imortant__info {
          display: flex;
          flex-direction: column;
          align-items: center;
          .unread__messages {
            width: 20px;
            height: 20px;
            padding: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $primary__color;
            border-radius: 50%;
            color: $white__color;
            font-weight: bold;
          }
        }
      }
    }
  }

  .main__chat {
    background-color: #f2f2f2;
    width: 80%;

    .headOf__mainChat {
      background-color: $secondary__color;
      height: 70px;
      max-height: 70px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-inline-start: 10px;

      .profile__photo {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }

      .textbox {
        margin-inline-start: 15px;
        .contactName {
          color: $white__color;
          font-weight: bold;
          font-size: 22px;
        }
      }
    }

    .bodyOF__mainChat {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 1%;
      height: 70vh;
      overflow-y: scroll;

      .message__box__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 5px;

        .profile__pic__content {
          display: flex;
          align-items: flex-end;

          .profile__photo {
            width: 35px;
            height: 35px;
            border-radius: 50%;
          }
        }
      }

      .message__box__container.reverse {
        flex-direction: row-reverse;
      }

      .message__box__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: end;

        .message__box {
          color: $white__color;
          padding: 5px;
          width: auto;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 8px;
          max-width: 90%;
          margin-top: 2px;
          margin-bottom: 2px;
        }

        .message__box.sent {
          background-color: $primary__color;
          align-self: flex-end;
  
        }
  
        .message__box.received {
          color: $black__color;
          background-color: $secondary__color;
          align-self: flex-start;
        }
      }
    }

    .footerOf__mainChat {
      width: 100%;

      .form-group {
        display: flex;
        flex-direction: row;

        .new__message__input {
          width: 90%;
          height: 25px;
          padding-top: 20px;
          padding-bottom: 20px;
          padding-left: 10px;
          border: 1px solid #f1f1f1;
          border-radius: 4px;
          outline: none;
          font-size: 16px;
          transition: .5s;
        }

        .new__message__input:focus {
          box-shadow: $secondary__color 0px 2px 8px;
        }

        .btn-primary {
          margin-inline-start: 2px;
          margin-inline-end: 2px;
          width: 10%;
          text-align: center;
          background-color: $primary__color;
          color: $white__color;
          border: 1px solid $primary__color;
          border-radius: 4px;
          transition: .4s;
          font-size: 16px;
        }

        .btn-primary:hover {
          cursor: pointer;
          box-shadow: $secondary__color 0px 2px 8px;
          background-color: $secondary__color;
          color: $black__color;
          border: 1px solid $secondary__color;
        }
      }
    }
  }
}
