@import '../Globals.scss';

.HappyStart {
  padding: 0 24rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background-color: $white__color;
  margin: 8rem;
  overflow: hidden;

  h1 {
    margin-bottom: -2rem;
  }

  button {
    border: none;
    background-color: $primary__color;
    color: $white__color;
    padding: 2rem;
    width: 15%;
    margin: -1rem 0 1rem 0;
  }
}
