@import '../Globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@600&display=swap');

.HeroSection {
  padding: 40px 240px 80px;
  background: $primary__color;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  img {
    width: 650px;
    height: auto;
    position: absolute;
    bottom: 240px;
    right: 120px;
  }

  .hero__heading {
    color: $white__color;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 47px;

    .Cookie {
      font-family: 'Cookie', cursive;
      font-size: 60px;
    }
  }

  .search__wrapper {
    display: flex;
    align-items: center;
    .search__btn {
      padding: 14px 30px;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      background-color: $light__primary__color;
      background: radial-gradient(
        circle at center,
        $light__primary__color 0%,
        $secondary__color 100%
      );
      border-radius: 0px 12px 12px 0px;
      border: none;
      color: $white__color;
    }

    .search__input {
      padding: 20px 30px;
      min-width: 25vw;
      border: none;
    }
  }
}

// .HeroSection{

// }
