@import '../Globals.scss';
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@600&display=swap');

.HeroSection {
  padding: 4rem 24rem 8rem;
  background: $primary__color;
  min-height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -1;
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }

  img {
    width: 65rem;
    height: auto;
    position: absolute;
    bottom: 24rem;
    right: 12rem;
  }

  .hero__heading {
    color: $white__color;
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    line-height: 4.7rem;

    .Cookie {
      font-family: 'Cookie', cursive;
      font-size: 6rem;
    }
  }

  .search__wrapper {
    display: flex;
    align-items: center;
    .search__btn {
      padding: 1.4rem 3rem;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 1.8rem;
      line-height: 2.8rem;
      background-color: $light__primary__color;
      background: radial-gradient(
        circle at center,
        $light__primary__color 0%,
        $secondary__color 100%
      );
      border-radius: rem 1.2rem 1.2rem rem;
      border: none;
      color: $white__color;
    }

    .search__input {
      padding: 2rem 3rem;
      min-width: 25vw;
      border: none;
    }
  }
}

// .HeroSection{

// }
