$black__color: #333;
$white__color: #ffffff;
$gray__primary__color: rgba(204, 107, 107, 0.5);
$gray__secondary__color: #6f757b;
$primary__color: #9a92e6;
$secondary__color: rgba(154, 146, 230, 0.3);
$green__color: #7ce577;

.SearchCoaches {
  background-color: $secondary__color;
  padding: 120px 80px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  h1 {
    font-size: 32px;
    line-height: 46px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
    color: $gray__secondary__color;
    margin-bottom: 10px;
  }

  .filter__box {
    background-color: $white__color;
  }
}
