$black__color: #333;
$black__secondary__color: #32393f;
$white__color: #ffffff;
$gray__color: rgba(0, 0, 0, 0.5);
$primary__color: #2163a5;
$light__primary__color: #b1d8ff;
$secondary__color: #84dfff;
$green__color: #7ce577;

.Footer {
  .nav {
    padding: 20px 240px;
    background-color: $primary__color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    overflow: hidden;
    color: $white__color;

    .links-box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      h1 {
        margin-bottom: -10px;
      }

      ul {
        margin-left: -37px;
      }
    }
  }

  .copyright {
    background-color: $black__secondary__color;
    color: $white__color;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
