$black__color: #333;
$black__secondary__color: #32393f;
$white__color: #ffffff;
$gray__color: rgba(0, 0, 0, 0.5);
$primary__color: #2163a5;
$light__primary__color: #b1d8ff;
$secondary__color: #84dfff;
$green__color: #7ce577;

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #333;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: $white__color;
  }

  .left__navbar {
    display: flex;
    align-items: center;

    .logo__wrapper {
      img {
        width: 220px;
        height: auto;
      }
    }

    .nav__lists {
      list-style: none;
      display: flex;
      gap: 20px;

      a {
        text-decoration: none;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .right__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;

    .language__dropdown {
      background: none;
      border: none;
      padding: 10px 20px;
      font-size: 24px;
      line-height: 32px;
    }
  }
}
