@import "../Globals.scss";

.SignIn {
  margin: 0 auto;
  max-width: 25vw;

  .closeBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    color: black;
    font-weight: bold;
    button {
      background: none;
      border: none;
    }
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }

  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 46px;
    margin: 15%;
  }

  input {
    width: 90%;
    display: block;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    height: 50px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin: 5% auto;
  }

  .submit {
    background-color: $primary__color;
    color: $white__color;
  }
}
