@import "../Globals.scss";

.SignIn {
  position: fixed;
  top: 360px;
  left: 720px;
  z-index: 1;
  //   margin: 0 720px;
  padding: 25px 20px;
  background-color: $white__color;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .closeBtn {
    position: absolute;
    top: 8px;
    right: 10px;
    color: black;
    font-weight: bold;
    button {
      background: none;
      border: none;
    }
  }

  h1 {
    margin-bottom: 5px;
  }

  input {
    width: 100%;
    display: block;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding: 5px 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
  }

  .submit {
    background-color: $primary__color;
    color: $white__color;
  }
}
