$black__color: #333;
$white__color: #ffffff;
$primary__color: #9a92e6;
$light__primary__color: #f2f1fd;
$secondary__color: #7ce577;

.CoachingsOverview {
  background-color: $light__primary__color;
  padding: 0 80px;
  position: relative;
}

.CO__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $white__color;
  gap: 30px;
  padding: 20px 60px;
  z-index: 1;
  margin-top: -200px;
}

.catagory {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
