$black__color: #333;
$white__color: #ffffff;
$gray__color: rgba(204, 107, 107, 0.5);
$primary__color: #9a92e6;
$secondary__color: rgba(154, 146, 230, 0.3);
$green__color: #7ce577;

.TeachStudents {
  padding: 60px;
  display: flex;
  flex-direction: column;

  background-color: $secondary__color;
}
