$black__color: #333;
$white__color: #ffffff;
$gray__color: rgba(0, 0, 0, 0.5);
$primary__color: #9a92e6;
$green__color: #7ce577;

.coachBenefits {
  display: flex;
  padding: 80px 0;

  .benefit__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 120px;

    .text-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .circle {
    background-color: $primary__color;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
