$black__color: #333;
$white__color: #ffffff;
$gray__color: rgba(204, 107, 107, 0.5);
$primary__color: #9a92e6;
$secondary__color: rgba(154, 146, 230, 0.3);
$green__color: #7ce577;

.GetPaid {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./../../assets/client/BecomeACoach/girlCoach.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 300px 80px;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: $white__color;
  }

  h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;
  }

  p {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 60px;
    max-width: 750px;
  }

  button {
    padding: 20px;
    background-color: $primary__color;
    border: 0;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
  }
}
