@import "../Globals.scss";

.CoachingsOverview {
  background-color: $light__primary__color;
  padding: 0 80px;
  position: relative;
}

.CO__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: $white__color;
  gap: 30px;
  padding: 20px 60px;
  z-index: 1;
  margin-top: -200px;
}

.catagory {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
